.navbar_main {
  width: 100%;
  /* background-color: red; */
  padding: 10px 0;
  position: fixed;
  z-index: 999;
}

.nav_ex {
  background-color: rgba(33, 36, 40, 0.8705882353);
  animation: nav_ex 1s;
  -webkit-animation: nav_ex 1s;
}

@keyframes nav_ex {
  0% {
    top: -50px;
  }

  100% {
    top: 0;
  }
}

.nav_left h1 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  color: white;
  padding-left: 11px;
}

.nav_left .menu_btn {
  background-color: transparent !important;
  border-color: transparent !important;
}

.menu_btn i {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.menu_btn i {
  color: #ff014f;
  font-size: 30px;
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 250px;
  border-right: 1px solid rgba(255, 255, 255, 0.517);
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}



.btn-close {
  width: 20px;
  height: 20px;
  padding: .25em .25em;
  color: #ff014f;
  border: 0;
  border-radius: 50%;
  opacity: .8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-close:focus {
  box-shadow: none;
}

.btn {
  box-shadow: none !important;
}

.btn:hover {
  background: transparent;
}

.menu_title h5 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.menu_list ul li a {
  padding: 10px 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  letter-spacing: 2px;
}

.menu_list ul li a:hover {
  color: #ff014f;
}

.menu_list ul li a.active {
  color: #ff014f;
}

.menu_list ul li a::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background: #ff014f;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu_list ul li a::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background: #ff014f;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu_list ul li a:hover::after,
.menu_list ul li a:hover::before {
  width: 50%;
}

.menu_list ul li a.active::after,
.menu_list ul li a.active::before {
  width: 50%;
  background-color: #ff014f;
}

.menu_title button {
  background-color: transparent;
  border: none;
}

.menu_title i {
  color: #ff014f;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: #1e20227e;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  // box-shadow: 10px 10px 19px #1c1e22, 10px 10px 15px #262a2e;
  position: relative;
  cursor: pointer;
}

.menu_title i::after {
  position: absolute;
  content: 'close';
  font-size: 10px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  height: 100%;
  width: 130%;
  padding-top: 5px;
  background-color: #262a2e;
  color: white;
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 49%);
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu_title i:hover::after {
  opacity: 1;
}